# This .gitignore file should be placed at the root of your Unity project directory
/*

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta
!/.gitignore
!/Assets
!/ProjectSettings